
<div class='sign_up'>
  <h1>Edit User Details</h1>
  <div class='sign_up_left'>
    <%= image_tag('http://i.imgur.com/4nJi9GE.jpg?1') %>
  </div>

  <div class='sign_up_right'>
    <%= render :partial => 'form' %>
  </div>
</div>