
<div class='sign_up'>
  <h1>Make Your Life Better!</h1>
  <div class='sign_up_left'>
    <%= image_tag('http://i.imgur.com/fWgmluD.gif') %>
  </div>

  <div class='sign_up_right'>
    <% if @user.errors.any? %>
      <h1> TRY AGAIN! </h1>
      <ol>
        <% @user.errors.full_messages.each do |msg| %>
        <li><%=  msg  %></li>
        <% end %>
      </ol>
    <% end %>
  <%= render :partial => 'form' %>
  </div>
</div>
