@import url(http://fonts.googleapis.com/css?family=Cinzel:900);

body{
  background: url('http://i.imgur.com/gtDDl01.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  color: white;
  margin: auto;
}


#home_h1{
  margin: 20px auto 20px auto;
  text-align: center;
}

#home_pic{
  margin: auto auto 30px auto;
  border: 20px solid rgba(127, 117, 94, 0.3);
  width: 700px;

}

.container{
  max-width: 750px;
  margin: auto;
  background-color: white;
}

.row{
  max-width: 750px;
  margin: auto;
}

.container h1, a{
  color: white;
}

.int_list_link a, .int_country a, .aus_state a{
  color: #DA9999;
  font-size: 20px;
}

.int_list_link a:hover{
 color: #A30000;
}

#local_name{
  margin-left: 10%;
}

span.holi_local{
  font-size: 10px;
}

.aus_state {
  text-align: center;
}


h1{
  font-family: 'Bowlby One SC', "Myriad Pro";
  font-size: 40px;
  color: rgba(180, 117, 50, 0.8); text-shadow:1px 1px 8px black;
  margin-bottom: 35px;
  margin: auto;

}
