@import url(http://fonts.googleapis.com/css?family=Syncopate:400,700);


.icon_description p{
  display: inline-block;
  margin: 5px;
  text-align: center;
}

#current_calendar_date{
  font-family: 'Syncopate', sans-serif;
  font-size: 25px;
  color: #B20000;
  font-weight: 700;
}

.list > div {
 margin-top: 10px;
 display: inline-block;

 vertical-align: top;
 margin-left:10px;
}

.icon_description img{
  height: 40px;
  width: 40px;
}

.icon_description p{
  font-size: 10px;
}

#kind{
  font-size: 15px;
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 0;
}

.event_details img{
  height: 70px;
  width: 70px;
}

.event_form p, .user_form{
  display: inline-block;
  margin: 20px;
}

.show_options p, .show_options a, td a{
  display: inline-block;
  padding: 3px;
  background-color: #FF8080;
  border-radius: 3px;
  margin: 5px;

}

#holiday_name{
  padding: 3px;
  background-color: #FF8080;
  border-radius: 3px;
  margin: 5px;
}

.show_options a, td a{
  color: white;
}

.user_info, #user_img{
  display: inline-block;
  vertical-align: bottom;
  margin-top: 20px;
}

#user_img{
  margin-left: 8%;
  margin-right: 15px;
  height: 100px;
  width: 100px;
}

td{
  width: 100px;
  height: 100px;
  overflow: auto;
 /* max-height: 200px;*/
}

div.day-cell {
  height: 100px;
  overflow: visible;
  font-size: 10px;
  position: relative;
}

div.day-cell img {
  width: 3em;
  float: top right;
  margin: auto 0;
}

div.day-cell a{
  font-size: 10px;
}

span.lunar_calendar{
  color: #C6C6C6;
  position: absolute;
  right: 0;
  top: -3em;
}



