@import url(http://fonts.googleapis.com/css?family=Bowlby+One+SC);

.main{
  font-size: 45px;
  color: #E9AB98;
}

.home_name h3{
  color: #DDBFB6;
  margin-bottom: 35px;
  font-family: 'Bowlby One SC', "Myriad Pro";
  text-align: center;
}

.home_name{
  height: 70px;
  width: 750px;
  background-color: white;
  text-align: center;
}

nav {
  text-align: center;
  font-family: 'Bowlby One SC', "Myriad Pro";
  padding: 10px;
  background: #A30000;
  border-radius: 2px;
  max-width: 750px;
  margin: auto auto 10px auto;
}

nav ul {
  display: inline-block;
}

nav li, a{
  color: white;
  margin: 5px;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  display: inline;
}

nav a{
  color: #DA9999;
  text-decoration: none;
}

nav a:hover{
  color: white;
  text-decoration: none;
}

nav .blank{
  margin-right: 400px;
}

.sign_up > div{
  display: inline-block;
  vertical-align: top;
  margin: auto;
}

.user_form input{
  width: 650px;
  height: 40px;
  margin: auto auto 2% auto;
  font-size: 20px;
  background-color: rgba(0,0,0,0.05);
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Nunito', "Myriad Pro";
}

.login_input{
  margin-top: 30px;
}

.login_input input{
  width: 150px;
  height: 30px;
  font-size: 20px;
  margin-left: 15px;
  background-color: rgba(0,0,0,0.05);
  color: rgba(0, 0, 0, 0.5);
}

.user_form input:hover,
.login_input input:hover {
  background-color: white;
}

.user_form label{
  font-size: 25px;
  margin: 2%;
  text-align: left;
}

.container a:hover, a:hover{
  text-decoration: none;
  color: #990000;
}

.col-md-12 > div{
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.submit_sign_up input, .login_input .btn_login{
  background-color: rgba(220, 50, 50, 0.9);
  color: white;
  margin-top: 30px;
}

.submit_sign_up input:hover,
.login_input .btn_login:hover{
  background-color: red;
}


label{
  color: #A30000;
  margin: 5px;
}



@media(max-width: 750px){
  body{
    background: none;
    background-color: rgba(225, 225, 225, 0.7);
  }
}
