@import url(http://fonts.googleapis.com/css?family=Bowlby+One+SC);

.main{
  font-size: 45px;
  color: #E9AB98;
}

.home_name h3{
  color: #DDBFB6;
  margin-bottom: 35px;
  font-family: 'Bowlby One SC', "Myriad Pro";
  text-align: center;
}

.home_name{
  height: 70px;
  width: 750px;
  background-color: white;
  text-align: center;
  margin: auto;
}

nav {
  text-align: center;
  font-family: 'Bowlby One SC', "Myriad Pro";
  padding: 10px;
  background: #A30000;
  border-radius: 2px;
  max-width: 750px;
  margin: auto auto 10px auto;
}

nav ul {
  display: inline-block;
}

nav li, a{
  color: white;
  margin: 5px;
  font-family: 'Nunito', sans-serif;
  text-decoration: none;
  display: inline;
}

nav a{
  color: #DA9999;
  text-decoration: none;
}

nav a:hover{
  color: white;
  text-decoration: none;
}

nav .blank{
  margin-right: 400px;
}

.sign_up > div{
  display: inline-block;
  vertical-align: top;
  margin: auto;
}

.user_form input,
.login_input input,
.event_form input,
.event_form select{
  width: 500px;
  height: 40px;
  font-size: 20px;
  margin: auto auto 2% 17%;
  background-color: rgba(0,0,0,0.05);
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Nunito', "Myriad Pro";
}

.submit_sign_up input,
.login_input .btn_login,
.event_form .submit{
  width: 500px;
  height: 40px;
  background-color: rgba(220, 50, 50, 0.9);
  color: white;
  margin: 3% auto auto 17%;
}

.user_form input, .submit_sign_up input{
  margin-left: 20%;
}

.user_form input:hover,
.login_input input:hover,
.event_form input:hover {
  background-color: white;
}

.user_form label,
.login_input label,
.event_form label{
  font-size: 25px;
  margin: 2% auto auto 23%;
}

.container a:hover, a:hover{
  text-decoration: none;
  color: #990000;
}

.col-md-12 > div{
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}




.submit_sign_up input:hover,
.login_input .btn_login:hover,
.event_form .submit:hover{
  background-color: red;
}

label{
  color: #A30000;
}



@media(max-width: 1024px){
  body{
    background-image: none;
    background-color: rgba(209, 199, 199, 0.5);
  }

  .container{
    max-width: 1000px;
  }

  nav {
    max-width: 960px;
  }

  .row{
    width: 960px;
    max-width: 960px;
  }

  .user_form {
    margin-left: 35%
  }

  .login_input{
    margin-left: 10%;
  }

  #home_pic{
    margin-left: 13%;
  }

  .Events_list, .Public_holiday_list{
    width: 450px;
    margin-bottom: 5%;
  }
}
